<app-popover-with-html [name]="'file'" (click)="$event.stopPropagation()">
  <div
    toggler
    [innerHTML]="getFiles() | wordClouded : '(click to set)' : '<br/>'"
  ></div>
  <div popo id="popo">
    <app-auto-complete
      [options]="files"
      name="file"
      [inputGroup]="globalForm"
      [formGroup]="globalForm"
      [placeholder]="'file'"
    ></app-auto-complete>
    <button class="btn btn-success" (click)="addDate()">
      + <fa-icon [icon]="icons.clock"></fa-icon>
    </button>
    <button class="btn btn-danger" (click)="removeDate()">
      - <fa-icon [icon]="icons.clock"></fa-icon>
    </button>
  </div>
</app-popover-with-html>
