<!-- Title -->
<div *ngIf="existTitle; else fallbackTitle" (click)="$event.stopPropagation()">
  <div mat-dialog-title>
    <ng-container *ngTemplateOutlet="data.titleTemplate"></ng-container>
  </div>
  <hr class="m-0" />
</div>

<!-- Body -->
<div mat-dialog-content (click)="$event.stopPropagation()">
  <ng-container *ngTemplateOutlet="data.bodyTemplate"></ng-container>
</div>
<!-- Actions -->
<div mat-dialog-actions class="container" (click)="$event.stopPropagation()">
  <div class="container flex gap-1 justify-center">
    <ng-container *ngTemplateOutlet="data.actionsTemplate"></ng-container>
  </div>
</div>

<!--Templates -->
<ng-template #fallbackTitle>
  <div mat-dialog-title class="flex text-end">
    <fa-icon [icon]="icons.x" class="close"></fa-icon>
  </div>
  <hr class="m-0" />
</ng-template>
