::ng-deep .cdk-global-overlay-wrapper {
    margin: auto;

    .dynamic-modal {
        width: 60%;
        min-height: 70vh;
        overflow-x: hidden;
    }

    /* Smartphones (portrait and landscape) ----------- */
    @media only screen and (max-width : 480px) {
        .dynamic-modal {
            width: 100%;
            min-height: 100vh;
        }
    }

    @media only screen and (max-width : 1600px) {
        .dynamic-modal {
            width: 80%;
            min-height: 80vh;
        }
    }

    .mat-mdc-dialog-content {
        display: flex;
        flex-direction: column;
    }

    overflow-x: hidden;

    .mat-mdc-dialog-actions.container {
        display: flex;
        //flex: 0.1
    }

    .mat-mdc-dialog-panel.fullscreen {
        @media (max-width: 768px) {
            max-width: 100vw !important;
            height: 100vh;
        }

    }

}