<div class="container" [formGroup]="filterForm">
  <div class="row">
    <div
      class="card mx-auto px-md-5 col-xs-12 col-lg-6 shadow-5-strong bg-body-tertiary"
      style="margin-top: -100px; backdrop-filter: blur(30px)"
    >
      <div class="card-body row">
        <div class="col justify-content-center">
          <h2 class="fw-bold mb-5">Create your account</h2>
          <form>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input
                placeholder="Display name"
                type="text"
                class="form-control"
                formControlName="displayName"
              />
            </div>

            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input
                placeholder="Email address"
                type="email"
                class="form-control"
                [formControlName]="'email'"
              />
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input
                placeholder="Password"
                type="password"
                id="form3Example4"
                class="form-control"
                [formControlName]="'password'"
              />
            </div>

            <div class="row text-center">
              <div class="col-6 d-flex justify-items-center">
                <div class="flex-1 content-center">
                  <button
                    type="submit"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-primary p-3"
                    (click)="signUpWithEmailPassword(); $event.preventDefault()"
                  >
                    Sign up
                  </button>
                </div>
              </div>
              <div class="col-6">
                <p>or use</p>
                <div class="flex gap-1 justify-center">
                  <button
                    type="button"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-link rounded-circle"
                  >
                    <fa-icon [icon]="icons.google"></fa-icon>
                  </button>
                  <button
                    class="btn btn-link"
                    (click)="toggleSignIn(); $event.preventDefault()"
                  >
                    your account
                  </button>
                </div>
              </div>
            </div>
            <!-- Submit button -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
