.table-container {
    padding: 20px;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

th[mat-header-cell],
th.mat-sort-header,
.mat-sort-header-container {
    text-align: center;
    justify-items: center;
}

tr[mat-row] {
    transition: background .5s ease-in-out, color .5s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: #ccc;
    }
}

.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
    box-shadow: none
}

:host ::ng-deep {
    .mat-mdc-paginator-container {
        justify-content: center;
    }
}

.het-art-color {
    color: orange;
}

.de-art-color {
    color: rgb(0, 196, 170)
}