.paragraph-deepl {
    background-color: #112c48;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.automation-empty {
    // https: //espace-inclusif.fr/blog/2024/03/01/les-jeux-dencastrement/
    background-image: url(../../../../assets/images/ARTICLE-JEUX-DENCASTREMENT.png);
}

.automation-text {
    background: #71c7e0;
}