<app-popover-with-html
  [name]="'analysis-' + i"
  [formGroup]="row"
  (click)="$event.stopPropagation()"
>
  <div
    toggler
    [innerHTML]="getAnalysis(row) | wordClouded : '(click to set)' : '<br/>'"
  ></div>
  <div popo id="popo">
    <app-auto-complete
      [options]="types"
      name="type"
      [inputGroup]="row"
      [placeholder]="'Type'"
    ></app-auto-complete>
    <app-auto-complete
      [options]="difficulties"
      name="difficulty"
      [inputGroup]="row"
      [placeholder]="'-1'"
    ></app-auto-complete>
  </div>
</app-popover-with-html>
