<app-flnl-modal [formGroup]="csvForm">
  <div button>CSV</div>
  <ng-template #body>
    <div class="container stretched min-w-full">
      <textarea
        hidden
        class="w-full stretch-textarea"
        matInput
        formControlName="csv"
        placeholder="CSV"
      ></textarea>
      <div class="editable-div relative" #contentDiv>
        <div
          #inputCSVHeaders
          class="w-full"
          contenteditable="false"
          [innerHTML]="csvEditable | csvEditableLines : 0"
        ></div>
        <div
          #inputCSVLines
          class="absolute top-8 bottom-20 right-0 left-0 overflow-auto"
          contenteditable="true"
          (input)="onInput($event)"
          [innerHTML]="csvBody | csvEditableLines : 1 : validity"
        ></div>
        <div
          class="absolute shadow bottom-5 left-5 flex gap-4 text-format"
        >
          {{ linesCount }} lines
          <button class="btn" (click)="setDisplayCsv('none')">
            <app-al-slash class="h-4"></app-al-slash></button
          ><button class="btn" (click)="setDisplayCsv('right')">
            <fa-icon [icon]="icons.alLeft"></fa-icon>
          </button>
          <button class="btn" (click)="setDisplayCsv('center')">
            <fa-icon [icon]="icons.alCenter"></fa-icon></button
          ><button class="btn" (click)="setDisplayCsv('left')">
            <fa-icon [icon]="icons.alRight"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <mat-progress-bar
      mode="indeterminate"
      [hidden]="!isLoadingFromCSV"
    ></mat-progress-bar>
  </ng-template>
  <ng-template #actions>
    <app-file-upload
      (onReadFileContent)="onUploadFile($event)"
      [isMultiple]="true"
      ><ng-template> <fa-icon [icon]="icons.file"></fa-icon> Load </ng-template>
    </app-file-upload>
    <button
      class="btn btn-primary m-0"
      [disabled]="!validity.valid"
      (click)="importFromCSVContent()"
    >
      generate
    </button>
  </ng-template>
</app-flnl-modal>
